<div class="container">
    <div class="container">
        <div class="page-header">
            <h1>{{post.title}}</h1>
            <h4>{{post.place}}</h4>
        </div>
        <p class="col-lg-7">{{post.text}}</p>
        <h5 class="col-lg-7">{{#date post.date}}{{/date}}</h5>
    </div>
</div>
