<div class="container">
    <div class="page-header">
        <h1>Create post</h1>
    </div>
</div>

<form class="form-horizontal login-form" name="login-form">

    <div class="form-group">
        <label for="input-title" class="col-lg-2 control-label">Post title</label>

        <div class="col-lg-5">
            <input name="title" type="text" value="" class="form-control" id="input-title" placeholder="Add title">
        </div>
    </div>

    <div class="form-group">
        <label for="input-text" class="col-lg-2 control-label">Info</label>

        <div class="col-lg-5">
            <input name="text" type="textarea" value="" class="form-control" id="input-text" placeholder="Add info">
        </div>
    </div>

    <div class="form-group">
        <label for="input-place" class="col-lg-2 control-label">Place</label>

        <div class="col-lg-5">
            <input name="place" type="text" value="" class="form-control" id="input-place" placeholder="Add place">
        </div>
    </div>

    <input name="id" value="{{company._id}}" class="hidden">

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success" data-loading-text="Sending...">Post</button>
        </div>
    </div>
</form>

<div class="container">
    <div class="alert error" role="alert"></div>
</div>

<script src="/javascripts/create-post.js"></script>
