body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

@media (min-width: 768px)
  .navbar-right
    float right !important
    margin-right 0px !important

#edit,
#back
  float right

.form-horizontal
  overflow-x hidden

input[type='file']:focus
  outline none

#img-pic
  margin-top 20px
  width 300px